.doc {
	padding-top: 75px;
	padding-bottom: 80px;
}

.doc__wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
	margin: 0 -5px;
}

.doc__item {
	width: calc(100% / 3 - 10px);
	margin: 0 5px;
}

.doc__item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.doc .subtitle--block {
	text-align: left;
}

@media screen and (max-width: 1050px) {

.doc__item {
	width: calc(100% / 2 - 10px);
}

}

@media screen and (max-width: 780px) {

.doc {
	max-width: 500px;
	margin: 0 auto;
	padding-bottom: 60px;
}

.doc__wrap {
	margin: 0px;
}

.doc__item {
	width: 100%;
	margin: 0px;
	margin-bottom: 20px;
}

}

